.single-product {
  display: flex;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.cartButton{
    color: #fff;
    background-color: rgb(255, 183, 0);
    border: 1px solid grey;
    border-radius: 6px;
    padding: 5px 46px;
    cursor: pointer;
    transition: 0.6s;
}
.cartButton:hover{
    transform: scale(1.1)
}
