.header img {
  height: 80px;
}

.header{
    text-align: center;
}

.header nav{
    text-align: left;
    background-color: #000;
    line-height: 40px;
    font-size: 20px;

}
nav a{
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
}

nav a:hover{
    background-color: grey;
}